<meta charset="UTF-8">
<meta name="Fibromyalgia"
    content="Fibromyalgia information website: Author: Stephen Seagrave for educational purposes.">
<meta name="viewport" content="width=device-width, initial-scale=1.0">
<meta http-equiv="X-UA-Compatible" content="ie=edge">
<!-- Favicon-->
<link rel="shortcut icon" href="favicon.ico" type="image/png">
<!-- Imports for style sheets, bootstrap, icons, font family-->
<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css"
    type="text/css">
<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css"
    type="text/css">
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/hover.css/2.3.1/css/hover-min.css">
<link rel="stylesheet" href="{% static 'styles/main.css' %}" type="text/css">
<script type="text/javascript"
    src="https://cdn.jsdelivr.net/npm/emailjs-com@2.4.1/dist/email.min.js">
</script>
<script type="text/javascript" src="assets/js/config.js"></script>
<title>Fibromyalgia Ireland</title>
