{% extends "account/base.html" %}

{% load i18n %}

{% block head_title %}{% trans "Sign Out" %}{% endblock %}

{% block inner_content %}
<h2 class="text-black allauth-mt text-center">{% trans "Sign Out" %}</h2>
<hr class="hr-black">
<div class="container text-center">
  <p>{% trans 'Are you sure you want to sign out?' %}</p>
    <form method="post" action="{% url 'account_logout' %}">
      {% csrf_token %}
      {% if redirect_field_value %}
      <input type="hidden" name="{{ redirect_field_name }}" value="{{ redirect_field_value }}"/>
      {% endif %}
      <a class="btn orange-btn text-white rounded" href="{% url 'home' %}">Home</a>
      <button class="btn orange-btn text-white rounded" type="submit">{% trans 'Sign Out' %}</button>
    </form>
</div>

{% endblock %}
